body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #007BFF, #00BFFF); /* Градиент от синего к светло-синему */
    color: #fff;
    padding: 2em 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для шапки */
}

.header-container {
    margin: 0 auto; /* Центрируем контейнер */
    width: 90%; /* Занимаем всю ширину экрана */
    padding: 0 20px; /* Добавляем немного внутреннего отступа, если нужно */
}

.header-title {
    margin-bottom: 10px; /* Отступ снизу для заголовка */
    text-align: center; /* Центрируем текст заголовка */
    font-size: 1.5em; /* Уменьшенный размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

.header-content {
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: space-between; /* Раздвигаем элементы по краям */
    align-items: center; /* Центрируем по вертикали */
}

.header-info {
    list-style: none; /* Убрать маркеры списка */
    padding: 0; /* Убрать отступы */
    margin: 0; /* Убираем отступы сверху и снизу */
    text-align: left; /* Выравнивание текста влево */
}

.header-info li {
    margin: 5px 0; /* Отступы между пунктами списка */
    font-size: 1.4em; /* Увеличенный размер шрифта для информации */
}

.header-logo {
    margin-left: 20px; /* Отступ слева для логотипа */
}

.header-logo img {
    max-width: 180px; /* Максимальная ширина логотипа */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* Закругленные углы для логотипа */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для логотипа */
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #007BFF;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0056b3;
}

main {
    padding: 1em;
}

h2 {
    font-size: 2em; /* Размер шрифта */
    color: #fff; /* Цвет текста заголовка (белый для контраста) */
    text-align: left; /* Выровнять заголовок по левому краю */
    margin: 20px 0; /* Отступы сверху и снизу */
    width: auto; /* Ширина заголовка 100% */
    padding: 10px 20px; /* Внутренние отступы для улучшения восприятия */
    background-color: #007BFF; /* Синий цвет фона заголовка */
    border-radius: 5px; /* Закругленные углы (по желанию) */
    font-weight: normal; /* Устанавливает обычный вес шрифта */
}

html {
    scroll-behavior: smooth;
}

footer {
    background-color: #007BFF; /* Цвет фона футера */
    color: #fff; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    padding: 2em 0; /* Внутренние отступы */
    position: relative; /* Относительное позиционирование */
    margin-top: 20px; /* Отступ сверху */
}
